VITE_SUPABASE_URL=https://rxdtserurpowfuefiyep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4ZHRzZXJ1cnBvd2Z1ZWZpeWVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1Njk1NzcsImV4cCI6MjA5MjE0NTU3N30.1HPu3xZ3pt_VWPmm2T9Jt779nLch0UrPu0SOiPvCt30
